<h1>Description</h1>
<hr>
<ul>
    <li>Assign picking to account move.</li>
    <li>Assign project to stock picking.</li>
    <li>Drag project_id to journal items for stock journal entries.</li>
</ul>
